<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <link rel="stylesheet" href="/css/admin.css">


    <title>Admin | Usuarios</title>

</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/images/logo/sw-brown.png">
                    <h2>Shopping <span> World </span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-symbols-sharp">
                        close
                        </span>
                </div>
            </div>
                <div class="sidebar">
                    <a href="/admin" >
                        <span class="material-symbols-sharp">
                            dashboard
                            </span>
                            <h3>Dashboard</h3>
                    </a>
                    <a href="/pedidos" >
                        <span class="material-symbols-sharp">
                            list_alt
                            </span>
                            <h3>Pedidos</h3>
                    </a>
                    <a href="/usuarios" class="active">
                        <span class="material-symbols-sharp">
                            group
                            </span>
                            <h3>Usuarios</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-sharp">
                            logout
                            </span>
                            <h3>Salir</h3>
                    </a>
                </div>
           
        </aside>
        <!--END OF ASIDE SIDEBAR-->

        <main>
            

            <div class="recent-order">
                <h2>Usuarios</h2>
                <table>
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Usuario</th>
                            <th>Correo</th>
                            <th>Dirección</th>
                            <th>Número</th>
                            <th>Compras</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Julia</td>
                            <td>Esmeralda</td>
                            <td>julia</td>
                            <td>julia@gmail.com</td>
                            <td>santa ses 0122, Lo espejo</td>
                            <td>+56954142</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Maria Rodriguez</td>
                            <td>Rodriguez</td>
                            <td>maria</td>
                            <td>maria@gmail.com</td>
                            <td>santa ses 0122, Lo espejo</td>
                            <td>+56966942</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Jose </td>
                            <td>Morales</td>
                            <td>jose</td>
                            <td>jose@gmail.com</td>
                            <td>caminito del señor 0112, La Florida</td>
                            <td>+56971151</td>
                            <td>1</td>
                        </tr>
                        
                    </tbody>
                </table>
                
            </div>

        </main>
        <!--end of main-->
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-symbols-sharp">
                        menu
                        </span>
                </button>
                <div class="theme-toggler">
                    
                    <span class="material-symbols-sharp active">light_mode</span>
                    <span class="material-symbols-sharp">dark_mode</span>
                    
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hola, <b>Marcos</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="/images/login/profile1.jpeg" >
                    </div>
                </div>
            </div>
            <!--end of the top-->
           

        </div>
    </div>

    <script src="/js/dashboard-admin.js"></script>
</body>

</html>