<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/css/url-style.css" />
  <%- include("parts/head") %>

  <body>
    <%- include("parts/nav") %>

    <div style="text-align: center">
      <h1 style="font-weight: 700; margin: 50px">
        Ingresa tu producto y nosotros hacemos el resto
      </h1>
      <h5 style="font-weight: 400; font-size: 20px; margin: 20px">
        Comencemos! ingresa el url del producto que deseas comprar
      </h5>
      <div class="container">
        <form action="/scrapAdidas" method="POST">
        <input
        id="url"
        name="url"
          class="form-control"
          type="text"
          placeholder="Ingresa el url aquí"
          aria-label="default input example"
        />
        <!--<a href="/productdetail"-->
          <button type="submit" class="btn btn-primary" id="btnc" id="btn-url">
            Comenzar
          </button>
        <!--</a>-->
      </form>
      </div>
    
    </div>


    <!--FOOTER-->
    <section class="hm-footer">
      <div class="container">
        <div class="hm-footer-details">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="hm-footer-widget">
                <div class="hm-foot-title">
                  <div class="logo">
                    <a class="navbar-brand" href="index.html">
                      <p
                        style="
                          color: #fff;
                          font-size: 30px;
                          padding: 0 0 0 70px;
                        "
                      >
                        WorldShop
                      </p>
                    </a>
                  </div>
                  <!-- /.logo-->
                </div>
                <!--/.hm-foot-title-->
                <div class="hm-foot-para">
                  <p>Conoce una nueva forma de comprar el mundo.</p>
                </div>
                <!--/.hm-foot-para-->
                <div class="hm-foot-icon">
                  <ul>
                    <li>
                      <a href="#"
                        ><i class="fa fa-facebook" aria-hidden="true"></i
                      ></a>
                    </li>
                    <!--/li-->
                    <li>
                      <a href="#"
                        ><i class="fa fa-google-plus" aria-hidden="true"></i
                      ></a>
                    </li>
                    <!--/li-->
                    <li>
                      <a href="#"
                        ><i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                    <!--/li-->
                    <li>
                      <a href="#"
                        ><i class="fa fa-twitter" aria-hidden="true"></i
                      ></a>
                    </li>
                    <!--/li-->
                  </ul>
                  <!--/ul-->
                </div>
                <!--/.hm-foot-icon-->
              </div>
              <!--/.hm-footer-widget-->
            </div>
            <!--/.col-->
            <div class="col-md-2 col-sm-6 col-xs-12">
              <div class="hm-footer-widget">
                <div class="hm-foot-title">
                  <h4>Referencias</h4>
                </div>
                <!--/.hm-foot-title-->
                <div class="footer-menu">
                  <ul class="">
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="about.html">Sobre Nosotros</a></li>
                    <li><a href="services.html">Servicios</a></li>
                    <li><a href="contact.html">Contacto</a></li>
                  </ul>
                </div>
                <!-- /.footer-menu-->
              </div>
              <!--/.hm-footer-widget-->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="hm-footer-widget">
                <div class="hm-foot-title">
                  <h4>Our Newsletter</h4>
                </div>
                <!--/.hm-foot-title-->
                <div class="hm-foot-para">
                  <p class="para-news">
                    Suscríbete a nuestro newsletter y podrás conocer antes que
                    todos promociones, nuevas noticias y muchos más...
                  </p>
                </div>
                <!--/.hm-foot-para-->
                <div class="hm-foot-email">
                  <div class="foot-email-box">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Correo Electrónico"
                    />
                  </div>
                  <!--/.foot-email-box-->
                  <div class="foot-email-subscribe">
                    <button type="button">Vamos</button>
                  </div>
                  <!--/.foot-email-icon-->
                </div>
                <!--/.hm-foot-email-->
              </div>
              <!--/.hm-footer-widget-->
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->
        </div>
        <!--/.hm-footer-details-->
      </div>
      <!--/.container-->
    </section>
    <%- include("parts/footer") %>
  </body>
</html>
