<!DOCTYPE html>
<html>
  <%- include("parts/head") %>
  <link rel="stylesheet" href="/css/stores-styles.css" />

  <body>
    <%- include("parts/nav") %>

   <div style="text-align: center">
      <h1 style="font-weight: 700; margin: 50px 20px 20px 20px">
        Dejemos de soñar, comencemos a comprar!
      </h1>
      <h5 style="font-size: 20px; font-weight: 300; margin: 0 0 30px 0">
        Selecciona la tienda en la que deseas comprar
      </h5>
    </div>
    <div class="container">
      <div class="card-group text-center">
        <div class="row">
          <div class="col-sm-6">
            <div class="card" style="float: left">
              <img
                src="/images/client/H&M-logo.png"
                class="card-img-top"
                width="300"
                height="300"
              />

              <div class="card-body text-center">
                <a href="https://www2.hm.com/en_us/index.html" style="margin: 50px 0; color: #000; background: transparent; border-color: #000; border-radius: 2%; " class="btn btn-primary" target="_blank">Sitio Web</a>.
                <a href="/H&M" style="margin: 50px 0; color: #000; background: transparent; border-color: #000; border-radius: 2%; " class="btn btn-primary">Comprar</a>
                
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card" style="float: right">
              <img
                src="/images/client/zara-logo.png"
                class="card-img-top"
                width="300"
                height="300"
              />

              <div class="card-body text-center">
                <a href="https://www.zara.com/us/es/" style="margin: 50px 0; color: #000; background: transparent; border-color: #000; border-radius: 2%; " class="btn btn-primary" target="_blank">Sitio Web</a>.
                <a href="/Zara" style="margin: 50px 0; color: #000; background: transparent; border-color: #000; border-radius: 2%; " class="btn btn-primary">Comprar</a>
                
              </div>
            </div>
          </div>
          <h1>Proximamente</h1>
          <div class="col-sm-6">
            <div class="card" style="float: left">
              <img
                src="/images/client/calvin-logo.png"
                class="card-img-top"
                width="300"
                height="300"
              />

              <div class="card-body text-center">
                
                <a href="/CK" style="margin: 50px 0; color: #000; background: transparent; border-color: #000; border-radius: 2%; " class="btn btn-primary" disabled>No Disponible</a>
                
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card" style="float: right">
              <img
                src="/images/client/guess-logo.png"
                class="card-img-top"
                width="300"
                height="300"
              />

              <div class="card-body text-center">
                
                <a href="/Guess" style="margin: 50px 0; color: #000; background: transparent; border-color: #000; border-radius: 2%; " class="btn btn-primary" disabled>No Disponible</a>
                
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card" style="float: left">
              <img
                src="/images/client/Logo_Adidas.png"
                class="card-img-top"
                width="300"
                height="300"
              />

              <div class="card-body text-center">
                
                <a href="/Adidas" style="margin: 50px 0; color: #000; background: transparent; border-color: #000; border-radius: 2%; " class="btn btn-primary" disabled>No Disponible</a>
                
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card" style="float: right">
              <img
                src="/images/client/nike-logo.png"
                class="card-img-top"
                width="300"
                height="300"
              />

              <div class="card-body text-center">
                
                <a href="/Nike" style="margin: 50px 0; color: #000; background: transparent; border-color: #000; border-radius: 2%; " class="btn btn-primary" disabled>No Disponible</a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("parts/footer") %>
  </body>
</html>
