<!DOCTYPE html>
<html>
  <%- include("parts/head") %>
  <link rel="stylesheet" href="/css/servicio-style.css" />

  <body>
    <%- include("parts/nav") %>

   <div style="text-align: center">
      <h1 style="font-weight: 700; margin: 50px 20px 20px 20px">
        Estamos aquí para ofrecerte el mejor servicio
      </h1>
      <h5 style="font-size: 20px; font-weight: 300; margin: 0 0 30px 0">
        Escoge el servicio que más se acomode a tus preferencias
      </h5>
    </div>
    <div class="container">
      <div class="card-group text-center">
        <div class="row">
          <div class="col-sm-6">
            <div class="card" style="float: left">
              <img
                src="/images/client/H&M-logo.png"
                class="card-img-top"
                id="whatsapp"
                width="300"
                height="500"
              />

              <div class="card-body text-center">
                <h5 class="card-title">Habla con un experto</h5>
                <p class="card-text">
                  Contacta a un especialista y comienza tu compra personalizada
                </p>
                <a href="/H&M" class="btn btn-primary">Comprar</a>
                
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card" style="float: right">
              <img
                src="/images/client/zara-logo.png"
                class="card-img-top"
                id="brands"
                width="300"
                height="500"
              />
              <div class="card-body">
                <h5 class="card-title">Ingresa tus productos</h5>
                <p class="card-text">
                  Compra a traves de nuestra pagina en las tiendas asociadas
                </p>
                <a href="/zara" class="btn btn-primary">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="hm-footer">
      <div class="container">
        <div class="hm-footer-details">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="hm-footer-widget">
                <div class="hm-foot-title">
                  <div class="logo">
                    <a class="navbar-brand" href="index.html">
                      <p
                        style="
                          color: #fff;
                          font-size: 30px;
                          padding: 0 0 0 70px;
                        "
                      >
                        WorldShop
                      </p>
                    </a>
                  </div>
                  <!-- /.logo-->
                </div>
                <!--/.hm-foot-title-->
                <div class="hm-foot-para">
                  <p>Conoce una nueva forma de comprar el mundo.</p>
                </div>
                <!--/.hm-foot-para-->
                <div class="hm-foot-icon">
                  <ul>
                    <li>
                      <a href="#"
                        ><i class="fa fa-facebook" aria-hidden="true"></i
                      ></a>
                    </li>
                    <!--/li-->
                    <li>
                      <a href="#"
                        ><i class="fa fa-google-plus" aria-hidden="true"></i
                      ></a>
                    </li>
                    <!--/li-->
                    <li>
                      <a href="#"
                        ><i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                    <!--/li-->
                    <li>
                      <a href="#"
                        ><i class="fa fa-twitter" aria-hidden="true"></i
                      ></a>
                    </li>
                    <!--/li-->
                  </ul>
                  <!--/ul-->
                </div>
                <!--/.hm-foot-icon-->
              </div>
              <!--/.hm-footer-widget-->
            </div>
            <!--/.col-->
            <div class="col-md-2 col-sm-6 col-xs-12">
              <div class="hm-footer-widget">
                <div class="hm-foot-title">
                  <h4>Referencias</h4>
                </div>
                <!--/.hm-foot-title-->
                <div class="footer-menu">
                  <ul class="">
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="about.html">Sobre Nosotros</a></li>
                    <li><a href="services.html">Servicios</a></li>
                    <li><a href="contact.html">Contacto</a></li>
                  </ul>
                </div>
                <!-- /.footer-menu-->
              </div>
              <!--/.hm-footer-widget-->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="hm-footer-widget">
                <div class="hm-foot-title">
                  <h4>Our Newsletter</h4>
                </div>
                <!--/.hm-foot-title-->
                <div class="hm-foot-para">
                  <p class="para-news">
                    Suscríbete a nuestro newsletter y podrás conocer antes que
                    todos promociones, nuevas noticias y muchos más...
                  </p>
                </div>
                <!--/.hm-foot-para-->
                <div class="hm-foot-email">
                  <div class="foot-email-box">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Correo Electrónico"
                    />
                  </div>
                  <!--/.foot-email-box-->
                  <div class="foot-email-subscribe">
                    <button type="button">Vamos</button>
                  </div>
                  <!--/.foot-email-icon-->
                </div>
                <!--/.hm-foot-email-->
              </div>
              <!--/.hm-footer-widget-->
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->
        </div>
        <!--/.hm-footer-details-->
      </div>
      <!--/.container-->
    </section>

    <%- include("parts/footer") %>
  </body>
</html>

